.opWrap {
  text-align: right;
  > div {
    margin-right: 1rem;
  }
}

.formWrap {
  display: flex;
  justify-content: center;
  .formInner {
    width: 45rem;
    & > div {
      position: relative;
      display: flex;
      height: 6rem;
      overflow: hidden;

      & > div {
        flex: 1;
      }
    }
  }
}

.label {
  width: 8rem;
  padding: 2.9rem 1.5rem 1.7rem;
  text-align: right;
}

div[data-react-toolbox="input"] span[class*='hint'] {
  top: 2.8rem;
}

.radioInline label {
  display: inline-block;
  & + label {
    margin-left: 2.5rem;
  }
}

.radioWrap {
  height: 7.6rem;
  align-items: flex-end;
}

.settingsDrop > div > span {
  font-size: 1.4rem !important;
  line-height: 3rem !important;
}

.proWrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 2rem 0;
  border: 1px solid rgba(210,211,211,0.5);
  & > div {
    width: 50%;
    flex: auto;
  }
}

.proGroup {
  display: flex;
  height: 4rem;
  line-height: 4rem;
  margin-bottom: 1rem;
  & > label {
    width: 12rem;
    margin-right: 1rem;
    text-align: right;
  }
  & > div {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .proWrap > div {
    width: 20rem;
  }
}

.inputWrap {
  div, input {
    padding: 0;
  }
  & > label {
    display: inline-block;
    margin: 0 1.5rem 0.3rem 0;
  }
}
