.staticForm {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  width: 80%;
  @media screen and (max-width: 860px) {
    width: 100%;
  }
  .groupItem {
    width: 50%;
    display: flex;
    line-height: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    @media screen and (max-width: 860px) {
      width: 100%;
    }

    label {
      width: 12rem;
      text-align: right;
    }
    p {
      padding-left: 1rem;
      flex: 1;
    }
  }
}
